<center>
<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <div class="row">
  <div class="small-2 large-4 columns">
  	<%= link_to "RU", controller: "search", action: "show_ru", id: @hum.id%>
  </div>
  <div class="small-4 large-4 columns"></div>
  <div class="small-6 large-4 columns">
  	<%= link_to "Inapoi", controller: "search", action: "search", id: @hum.id%>
  </div>
</div>
  </nav>
</div>
<div class="row">
  <div class="small-2 large-4 columns">
  	..
  </div>
  <div class="small-4 large-4 columns">
  	<div class="panel"> 
	
	<p>Companie : <%= @hum.org %></p><br>
	<p>Positie : <%= @hum.position %></p><br>
	<p>Telephone : <%= @hum.rtel %></p><br>
	<p>Name : <%= @hum.roname %></p><br>
	<p>Surname : <%= @hum.rosurname %></p><br>
	<p>Telefonul mobil : <%= @hum.mtel %></p><br>
	<p>Email : <%= @hum.email %></p><br>
	
	</div>
  </div>
  <div class="small-6 large-4 columns">
  	..
  </div>
</div>
	
</center>


<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    ...
  </nav>
</div>
